<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayowainc.quizbox"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/abt_img"
        android:label="GameRush"
        android:roundIcon="@drawable/abt_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <service
            android:name=".Background_Music.MusicServiceActivity"
            android:enabled="true" />

        <activity android:name=".Category_Levels.Marketing.MarketingBeginnerActivity" />
        <activity android:name=".Category_Levels.Marketing.MarketingProfessionalActivity" />
        <activity android:name=".Category_Levels.Marketing.MarketingWorldClassActivity" />
        <activity android:name=".Category_Levels.History.HistoryWorldClassActivity" />
        <activity android:name=".Category_Levels.History.HistoryProfessionalActivity" />
        <activity android:name=".Category_Levels.History.HistoryBeginnerActivity" />
        <activity android:name=".Category_Levels.Programming.ProgrammingBeginnerActivity" />
        <activity android:name=".Category_Levels.Programming.ProgrammingProfessionalActivity" />
        <activity android:name=".Category_Levels.Programming.ProgrammingWorldClassActivity" />
        <activity android:name=".Category_Levels.Multimedia.MultimediaWorldClassActivity" />
        <activity android:name=".Category_Levels.Multimedia.MultimediaProfessionalActivity" />
        <activity android:name=".Category_Levels.Multimedia.MultimediaBeginnerActivity" />
        <activity android:name=".Category_Levels.All_Knowledge.AllKnowledgeQuizActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".User.UserProfileActivity" />
        <activity android:name=".MenuHomeScreenActivity" />
        <activity android:name=".User.SignUpActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>